* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
:root {
  --gray: rgb(156 163 175/0.8);
  --dark_gray: rgb(55 65 81 /1);
  --font_small: 0.875rem;
  --font_xs: 0.75rem /* 12px */;
  --curved_border_full: 99999px;
  --curved_border_3xl: 1.5rem;
  --white: #ffffff;
  --small_gap: 0.5rem;
  --light_green: #d7e4e0;
}

.text-sm {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
.text-xs {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}
img {
  border-radius: 50%;
  object-fit: cover;
  width: auto;
  height: auto;
}

.text-gray {
  color: var(--dark_gray);
}
