.container {
  width: 100%;
  border: 1px solid var(--gray);
  height: 3.5rem;
  border-radius: var(--curved_border_full);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.left_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.img {
  width: 25rem;
  height: 25rem;
}
.label {
  pointer-events: none;
  display: block;
  color: var(--dark_gray);
  font-size: var(--font_small);
}
.right_container {
  display: flex;
  gap: 1rem;
}

.icon_container {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: var(--light_green);
  border-radius: var(--curved_border_full);
  display: grid;
  place-content: center;
}
.icon {
  width: 1rem;
  height: 1rem;
  color: var(--dark_gray);
}
